body {
  margin: 0;
  color: #548d7d;
}

#container {
  width: 80%;
  margin: auto;
}

#area  {
  width: 40%;
  display: inline-block;
}

fieldset {
  width: inherit;
  border-width: thin;
  border: 1px solid #ddd;
}

legend {
  font-style:bold;
  font-family: “Segoe UI”,”Arial”,”Times New Roman”;
}

#formulario label {
  margin-right:10px;
  margin-top: 5px;
  display: block;
}

#formulario input {
  margin-bottom: 10px;
  width: 96%;
  padding: 6px;
}

.btn-submit {
  margin-left: 69%;
  padding: 6px;
  background-color: #3CB371;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

table {
  float: right;
  border-collapse: collapse;
  width: 58%;
  margin-right: 1%;
  margin-top: 8px;
  
}

table, td, th {    
  border: 1px solid #ddd;
  text-align: left;
  text-align: center;
  padding: 10px;
}

h1 {
  display: inline-block;
  font-family: sans-serif;
  text-transform: uppercase;
}

img {
  width: 50px
}

input:-webkit-autofill {
    color: #2a2a2a !important;
}